.ig_post_container > div {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin-left: 20%;
    margin-right: 0%;
    gap: 10px;
    margin-top:2%;
}

.post_container {
    position: relative;
}
 
img{
    width:85%;
    height: 300px;
    padding-top: 15px;
    border-radius: 5%;
} 

.btn_permalink_inst_feed {
    background-color: #0977dd;
    margin: 7px;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 85px;
    display: none;
}

.permalink_inst_feed {
    text-decoration: none;
    color: white;
}

.post_container>img:hover {
    width: 100%;
    opacity: 0.9;
    background-color: rgb(235, 235, 235);
    display:block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);
  
  
}

.post_container:hover .btn_permalink_inst_feed {
    display: block;
}


.heading_insta_feed {
    font-size: 30px;
    color: #0977dd;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;

}


@media only screen and (max-width:600px) {
    .btn_permalink_inst_feed {
    padding: 2px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 7px;
    }
}


@media only screen and (max-width:900px) {
    .btn_permalink_inst_feed {
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 8px;
    }
}
